@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
html, body, * {
  padding: 0;
  margin: 0; }

p, span, a, button, div {
  font-family: "Montserrat", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", sans-serif; }

#your-cart .product-summary {
  border: 1px solid #D9D9D9;
  border-radius: 5px; }
  #your-cart .product-summary table {
    margin-bottom: 0 !important;
    max-width: 95%;
    margin: auto; }
    #your-cart .product-summary table tr {
      border-bottom: 1px solid #D9D9D9;
      padding-top: 20px;
      padding-bottom: 15px;
      height: 110px; }
    #your-cart .product-summary table td {
      vertical-align: middle;
      border: none;
      border-bottom: 1px solid #D9D9D9; }
    #your-cart .product-summary table tr:last-child {
      border-bottom: none !important; }
      #your-cart .product-summary table tr:last-child td {
        border-bottom: none !important; }
  #your-cart .product-summary .product {
    overflow: hidden;
    position: relative; }
  #your-cart .product-summary .product-col .product {
    display: flex;
    align-items: center;
    margin: 0;
    padding-right: 2rem;
    box-shadow: none; }
  #your-cart .product-summary .product-col .product-media {
    display: inline-block;
    margin: 0;
    margin-right: 2.8rem;
    flex-shrink: 0;
    max-width: 60px;
    border: 1px solid #D9D9D9; }
    #your-cart .product-summary .product-col .product-media img {
      display: block;
      max-width: 100%;
      height: auto; }
  #your-cart .product-summary .product-col .product-name {
    display: inline-block;
    color: #373737;
    font-weight: 400;
    line-height: 1.25;
    margin: 0; }
    #your-cart .product-summary .product-col .product-name a {
      font-size: 15px;
      color: #373737;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    #your-cart .product-summary .product-col .product-name p {
      font-size: 13px; }
  #your-cart .product-summary .quantity-col {
    max-width: 200px;
    width: 200px;
    justify-content: center;
    margin: auto; }
    #your-cart .product-summary .quantity-col .input-group {
      border: 1px solid #ced4da;
      border-radius: 5px; }
      #your-cart .product-summary .quantity-col .input-group .fal {
        color: #373737; }
      #your-cart .product-summary .quantity-col .input-group input {
        border: none;
        font-size: 15px; }
      #your-cart .product-summary .quantity-col .input-group button {
        border: none;
        background-color: #ced4da6e; }
  #your-cart .product-summary .total-col {
    width: 150px;
    font-weight: bold;
    text-align: center; }
  #your-cart .product-summary .table .remove-col {
    padding-right: 0;
    padding-left: 0;
    width: 38px; }
    #your-cart .product-summary .table .remove-col .btn-remove {
      border: none;
      color: #fa0c1b;
      background: #fa0c1b33;
      width: 30px;
      height: 30px;
      border-radius: 5px;
      font-size: 20px; }
  @media screen and (max-width: 991px) {
    #your-cart .product-summary .product-summary {
      margin-bottom: 40px; }
    #your-cart .product-summary .table-mobile {
      border: none;
      width: 100% !important;
      display: block !important; }
      #your-cart .product-summary .table-mobile tbody {
        width: 100% !important;
        display: block !important; }
      #your-cart .product-summary .table-mobile tr {
        position: relative;
        width: 100% !important;
        display: block !important;
        height: auto; }
        #your-cart .product-summary .table-mobile tr td {
          position: relative;
          width: 100% !important;
          display: block !important;
          text-align: center;
          border: none; }
      #your-cart .product-summary .table-mobile .product-col .product {
        justify-content: center;
        display: block;
        padding-right: 0px; }
        #your-cart .product-summary .table-mobile .product-col .product .product-media {
          display: block;
          margin: auto;
          max-width: 100px;
          margin-bottom: 20px; }
        #your-cart .product-summary .table-mobile .product-col .product .product-name {
          display: block;
          width: 100%;
          margin: auto; }
      #your-cart .product-summary .table-mobile .remove-col {
        position: absolute;
        right: 0;
        top: 0;
        padding: .5rem !important;
        width: auto !important; } }
#your-cart .cart-summary .summary {
  box-shadow: 0px 5px 12px #00000017;
  border-radius: 5px;
  padding: 2.5rem .7rem 2.5rem; }
#your-cart .cart-summary .summary-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px; }
#your-cart .cart-summary .table-summary {
  padding-top: 1rem;
  border-top: 1px solid #D9D9D9; }
  #your-cart .cart-summary .table-summary td {
    border: none; }
  #your-cart .cart-summary .table-summary td:nth-child(1) {
    color: #373737;
    font-size: 15px;
    font-weight: 400;
    padding-left: 0px; }
  #your-cart .cart-summary .table-summary td:nth-child(2) {
    text-align: right;
    font-size: 15px;
    font-weight: 500; }
  #your-cart .cart-summary .table-summary tr:last-child {
    border-top: 1px solid #D9D9D9; }
  #your-cart .cart-summary .table-summary .total {
    color: #fa0c1b;
    font-weight: 700 !important; }
  #your-cart .cart-summary .table-summary .add-coupon a {
    color: #fa0c1b;
    text-decoration: underline; }
#your-cart .cart-summary .checkout {
  background-color: #fa0c1b;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  max-width: 90%;
  margin: auto; }
#your-cart .product-summary {
  margin-bottom: 40px; }

/*# sourceMappingURL=cart.css.map */
