@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
html, body, * {
  padding: 0;
  margin: 0; }

p, span, a, button, div {
  font-family: "Montserrat", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", sans-serif; }

/*
*
* ======================================================================
* NAVBAR
* ======================================================================
*
*/
#main-menu .megamenu.show {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 2px solid #00000024;
  border-radius: 0; }
#main-menu .navbar {
  border-bottom: 1px solid #e6e6e6;
  background-color: #fff;
  padding: 0px;
  position: sticky;
  top: 0;
  z-index: 999; }
#main-menu .rsi-buyer-club {
  background-image: url("../media/heading_underline.png");
  background-position: center;
  background-repeat: no-repeat;
  background-position: 50% 70%; }
#main-menu .navbar .navbar-nav > .nav-item > .nav-link {
  font-size: 14px;
  letter-spacing: 0px;
  font-font: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 30px 15px !important;
  color: #555; }
#main-menu i.fal.fa-heart, #main-menu .fa-search, #main-menu .fa-shopping-cart {
  font-size: 20px;
  font-color: #373737;
  color: #373737; }
#main-menu .btn-primary:hover {
  background-color: transparent;
  border-color: #fa0c1b;
  font-size: 14px; }
#main-menu .btn-primary.focus, #main-menu .btn-primary:focus {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none; }
#main-menu .notification {
  text-decoration: none;
  position: relative;
  display: inline-block;
  border-radius: 2px; }
#main-menu .notification .badge {
  position: absolute;
  top: 22px;
  right: 7px;
  padding: 3px 5px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-weight: 500; }
#main-menu img.d-inline-block.d-md-none {
  width: 70%;
  padding-left: 20px; }
#main-menu .left-border {
  position: relative; }
#main-menu .left-border:after {
  content: "";
  position: absolute;
  left: 0;
  z-index: 100;
  top: 25px;
  width: 1px;
  height: 35%;
  /* or 100px */
  background: #00000024; }
@media (max-width: 991.98px) {
  #main-menu .navbar .navbar-nav > .nav-item > .nav-link {
    padding: 15px 15px !important; }
  #main-menu li.nav-item {
    border-bottom: 1px solid #37373720; }
  #main-menu .left-border:after {
    width: 0; } }
#main-menu .navbar .navbar-nav > .nav-item > .nav-link.active {
  font-weight: 700; }
#main-menu .navbar .navbar-nav > .nav-item > .nav-link.active:hover {
  color: #555555; }
#main-menu .navbar .navbar-nav > .nav-item > .nav-link:hover {
  color: #fa0c1b; }
@media (max-width: 991.98px) {
  #main-menu .navbar .dropdown-menu {
    position: relative !important;
    border: none; }
  #main-menu #main-menu .input-group {
    width: 79%;
    margin-top: -100px;
    z-index: 999;
    /* padding: 40px 0; */ } }
@media (min-width: 992px) {
  #main-menu .navbar .dropdown:hover .dropdown-menu {
    display: block;
    border: none;
    border-top: 2px solid #00000024;
    border-radius: 0; }
  #main-menu .input-group {
    width: 82%;
    margin-top: -61px;
    z-index: 999;
    /* padding: 40px 0; */ } }
#main-menu .navbar .megamenu {
  padding: 30px !important;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
@media (max-width: 991.98px) {
  #main-menu .navbar .megamenu {
    padding: 15px !important;
    -webkit-box-shadow: none;
    box-shadow: none; }
  #main-menu .rsi-buyer-club {
    background-position: 10px 35px; } }
#main-menu .navbar .menu-large h5 {
  font-font: "Ubuntu", sans-serif;
  font-size: 16px;
  text-transform: capitalize;
  padding-bottom: 5px;
  font-weight: 500; }
#main-menu .input-group {
  width: 82%;
  margin-top: -62px;
  z-index: 999; }
@media (max-width: 767.98px) {
  #main-menu .navbar .menu-large h5 {
    font-size: 0.9rem; }
  #main-menu .navbar-buttons {
    padding: 10px 0; }
  #main-menu .topbar-login .signup-link {
    padding: 0 5px; }
  #main-menu .topbar-login a {
    color: #c3c3c3;
    font-size: 12px; }
  #main-menu button.btn.btn-outline-secondary.navbar-toggler {
    margin: 0 !important;
    border-right: 1px solid #37373724;
    padding-right: 10px; }
  #main-menu li.nav-item {
    border-bottom: 1px solid #37373720; }
  #main-menu i.fal.fa-heart {
    border: none !important; }
  #main-menu i.fal.fa-shopping-cart {
    border: none !important; }
  #main-menu .dropdown-toggle::after {
    font-size: 25px;
    float: right;
    margin-top: 10px; }
  #main-menu i.fal.fa-search.search-moble {
    border-left: none !important;
    padding-left: 0 !important; }
  #main-menu .btn-outline-secondary:hover {
    color: #373737;
    background-color: transparent;
    border-color: transparent; }
  #main-menu .btn.focus, #main-menu .btn:focus {
    box-shadow: none !important; }
  #main-menu .input-group {
    max-width: 76%;
    margin-top: -45px;
    z-index: 1000; }
  #main-menu .notification .badge {
    top: 6px;
    position: absolute;
    right: 4px;
    padding: 3px 5px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-weight: 500; } }
#main-menu .navbar .menu-large ul {
  margin: 0;
  padding: 0; }
#main-menu .navbar .menu-large ul .nav-item {
  list-style-type: none;
  text-transform: capitalize;
  padding: 8px 0; }
#main-menu .navbar .menu-large ul .nav-item a {
  color: #373737;
  font-size: 14px;
  font-weight: 400;
  display: block;
  padding: 0 !important;
  font-family: "Montserrat", sans-serif; }
#main-menu .navbar .menu-large ul .nav-item a:hover {
  color: #fa0c1b !important;
  text-decoration: none; }
#main-menu .navbar .menu-large .banner {
  margin-bottom: 10px; }
#main-menu .navbar #basket-overview {
  padding: 0; }
#main-menu .navbar .navbar-btn {
  color: #fff; }
#main-menu #search {
  background: #fff; }
#main-menu #search .container {
  text-align: right; }
#main-menu #search form {
  max-width: 500px;
  padding: 20px 0; }
#main-menu #search .navbar-form {
  float: right;
  width: 500px; }
#main-menu header #search form {
  max-width: 76%;
  padding: 20px 0;
  margin: 29px auto 0; }
#main-menu .breadcrumb {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 0;
  padding: 0.5rem 1rem; }
#main-menu a, #main-menu button {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none; }
#main-menu a i.fa, #main-menu button i.fa {
  margin: 0 5px; }
#main-menu h1 {
  font-weight: 700; }
#main-menu .text-uppercase {
  letter-spacing: .2em; }
#main-menu .btn-primary {
  color: #000 !important;
  background-color: transparent;
  border: none; }
#main-menu .btn + .btn {
  margin-left: 5px; }
#main-menu .disabled {
  cursor: not-allowed; }
#main-menu .clickable {
  cursor: pointer; }
#main-menu .menu-large {
  position: static !important; }
#main-menu .menu-large .megamenu {
  padding: 20px;
  width: 100%;
  max-width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: -1px; }
#main-menu .menu-large a.nav-link {
  padding: 7px !important;
  padding-left: 0 !important; }

@media (min-width: 330px) and (max-width: 418px) {
  .top-bar {
    height: 40px;
    padding: .2rem .5rem; }
    .top-bar .col-4 {
      padding-left: 0px; }
    .top-bar .topbar-login {
      padding: 0; }
      .top-bar .topbar-login a {
        font-size: 12px; }
      .top-bar .topbar-login .signup-link {
        padding: 0 10px; }

  .shadow .navbar-brand {
    margin-right: 0; }

  #main-menu img.d-inline-block.d-md-none {
    padding-left: 5px; } }

/*# sourceMappingURL=menu.css.map */
