@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
html, body, * {
  padding: 0;
  margin: 0; }

p, span, a, button, div {
  font-family: "Montserrat", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", sans-serif; }

:root {
  --star-size: 16px;
  --star-color: #fff;
  --star-background: #ff9529; }

#store .filter-tab label {
  font-family: "Ubuntu", sans-serif;
  color: #373737;
  font-weight: 500; }
#store .filter-tab .narrow-result {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: bold; }
#store .filter-tab .search-filter {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
#store .filter-tab .filter-category-select {
  border: 1px solid #ced4da;
  border-radius: 5px; }
  #store .filter-tab .filter-category-select .card-header {
    background-color: transparent;
    font-family: "Ubuntu", sans-serif;
    font-size: 17px;
    font-weight: bold; }
  #store .filter-tab .filter-category-select .scrollable {
    max-height: 200px;
    overflow-y: scroll;
    padding: 0px; }
    #store .filter-tab .filter-category-select .scrollable li {
      padding: 4px 2px 4px 15px; }
      #store .filter-tab .filter-category-select .scrollable li input[type="checkbox"] {
        vertical-align: middle; }
  #store .filter-tab .filter-category-select #style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #d9d9d9; }
  #store .filter-tab .filter-category-select #style-3::-webkit-scrollbar {
    width: 2px;
    background-color: #d9d9d9; }
  #store .filter-tab .filter-category-select #style-3::-webkit-scrollbar-thumb {
    background-color: #fa0c1b; }
  #store .filter-tab .filter-category-select .filter-title {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.43em;
    letter-spacing: -0.2px;
    color: #373737;
    margin-left: 5px; }
  #store .filter-tab .filter-category-select .filter-total {
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6em;
    letter-spacing: 0.025em;
    color: #373737; }
#store .filter-tab .price-range .divided {
  background: linear-gradient(transparent 51%, #ced4da 50%, #ced4da 55%, transparent 55%);
  display: flex; }
#store .filter-tab .price-range .divided input {
  background: white;
  padding: 0 5px; }
#store .filter-tab .minimum-rating .clip-star {
  background: #ff9529;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  display: inline-block;
  height: 40px;
  width: 40px; }
#store .filter-tab .filter-submit {
  text-align: center; }
  #store .filter-tab .filter-submit input {
    background-color: #fa0c1b;
    padding: 15px 30%;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-weight: 600;
    font-size: 13px;
    color: #ffffff; }
#store .products-tab .filter-title {
  font-family: "Ubuntu", sans-serif;
  color: #373737;
  text-align: left;
  font-size: 25px; }
  #store .products-tab .filter-title span {
    font-size: 15px;
    font-weight: normal; }
#store .products-tab .card .card-img-top {
  min-width: 200px;
  min-height: 200px;
  max-width: 200px;
  max-height: 200px;
  margin: auto;
  position: relative; }
  #store .products-tab .card .card-img-top img {
    max-width: 100%;
    padding: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
#store .products-tab .card-body {
  border-top: 1px solid #d9d9d9;
  font-family: "Montserrat", sans-serif;
  padding: 1.25rem 1.25rem 0; }
  #store .products-tab .card-body .p-title {
    font-weight: bold;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; }
    #store .products-tab .card-body .p-title a {
      color: #373737;
      font-size: 15px; }
  #store .products-tab .card-body .p-sub-title {
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  #store .products-tab .card-body .discount-price {
    color: #373737;
    font-weight: bold;
    font-size: 14px; }
  #store .products-tab .card-body .price {
    font-weight: 400;
    font-size: 14px; }
  #store .products-tab .card-body a.p-detail {
    padding: 1px 10px;
    border: 1px solid #fa0c1b;
    border-radius: 5px; }
  #store .products-tab .card-body i.fa.fa-arrow-right.rec-arrow {
    background-color: #37373700 !important;
    padding: 1px;
    border-radius: 5px;
    color: #373737 !important; }
#store .products-tab .Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: "Ubuntu", sans-serif;
  line-height: 1;
  font-weight: 600;
  color: #373737; }
  #store .products-tab .Stars span {
    font-size: 14px;
    font-weight: 300; }
  #store .products-tab .Stars::before {
    content: '★★★★★';
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
#store .products-tab .showmore {
  background-color: #fa0c1b;
  border: 1px solid #FA0C1B;
  border-radius: 5px;
  width: 170px;
  height: 54px;
  font-weight: 600;
  font-size: 13px; }
@media (max-width: 576px) {
  #store .card {
    margin: 0 !important; } }

/*# sourceMappingURL=store.css.map */
