//Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

// Variables
@import 'variables';


footer {

  /*News Letter */

  #newsletter {
    padding: 35px 0;
    margin-top: 60px;
    background: #fb0000d1;
    font-family: $font-family-montserrat;
    background-image: url("../media/background-img.png");
    background-size: cover;

    form .form-control {
      background: #bf111c;
      border: none;
      border-radius: 3px;
      box-shadow: none;
      outline: none;
      color: inherit;
      text-indent: 9px;
      height: 45px;
      margin-right: 10px;
      min-width: 300px;
      font-weight: 300;
      color: #ffffff;
      font-size: 13px;

    }

    ::placeholder {
      color: #ffffff;
      opacity: 0.5; /* Firefox */
    }


    form .btn {
      padding: 16px 32px;
      opacity: 0.9;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 13px;
      letter-spacing: 0.4px;
      line-height: 1;
      background-color: #ffffff;
      color: #ff0000;
      border: 0;
    }

    .newsletter-image {
      position: absolute;
      bottom: -35px;
      right: -150px;
    }

    .col-newsletter-title {
      h3 {
        color: #ffffff;
      }

      p {
        color: #fff;
      }
    }

    .col-newsletter-form {
      vertical-align: middle !important;

      .form-inline {
        padding-top: 2.3%;
      }
    }


  }


  .footer-logo {
    margin-bottom: 20px;
  }

  p {
    color: $secondary;
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 10px;
  }

  .footer-top p:last-child {
    color: $secondary;
    font-weight: 500;
    font-size: 0.9rem;
    text-align: left;
  }
}

.col-logo-description {
  padding-left: 0;
  padding-right: 0;

  p:last-child{
    position: relative;
  }
  p:last-child::before{
    display: inline-block;
    content: "";
    border-top: .17rem solid #373737;
    width: 0.7rem;
    //transform: translateY(-1rem);
    position: absolute;
    bottom: 9px;
    left: -5px;
  }
  ul li a{
    color: #373737;

    padding-right: 15px;
  }
  h6 {
    margin-top: 15px;
    font-weight: 500;
  }

}

.col-footer-links {
  padding-left: 40px;

  h6 {
    margin-top: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 40px;
    font-size: 0.8rem;
    font-weight: 500;

  }


  li {
    text-align: left;
    padding-bottom: 10px;

    a {
      color: $secondary;

    }

    a:hover {
      color: $primary;
    }

  }

  li::before {
    content: "\2022";
    color: #fb0000;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

}

.footer-top {
  border-bottom: 1px solid #d9d9d9;
  padding: 40px 0px 20px;
}

.footer-bottom {
  padding-top: 20px;

  .col-socialicons {
    text-align: center;
  }

  .col-privacy-terms {
    p {
      text-align: right;
    }
  }


  .footer-social-icons a {
    color: $secondary;
    font-size: 19px;
  }

  p a {
    color: $secondary;
  }

  a.policy-link {
    padding: 0 10px;
    border-right: 1px solid #C3C3C3;
    margin-right: 5px;
  }

  .col-copyright {
    padding-left: 0;
  }

  .col-privacy-terms {
    padding-right: 0;
  }


}
ul.list-inline {
  margin-bottom: 0;
}

@media screen and (max-width: 991px) {


  //newsletter
  #newsletter {

    margin-top: 0px !important;

    .col-newsletter-title {
      text-align: center;
      padding-bottom: 15px;
    }

    .col-newsletter-form {
      text-align: center;

      .form-inline {
        display: block;

        .form-group {
          display: block;

        }

        .form-input-field {
          margin-bottom: 25px;
        }
      }
    }


  }

  .footer-top {
    .col-logo-description {
      padding-left: 15px;
      padding-right: 15px;

    }

    .col-footer-links {
      padding-left: 15px;
      padding-right: 15px;

      .col-information-first {

      }

      .col-information-third {
        h6 {
          margin-top: 40px;
        }
      }

      ul {
        margin-top: 20px;

      }

    }
  }


  .footer-bottom {
    .col-copyright {
      text-align: center;
      padding-bottom: 15px;
    }

    .col-privacy-terms {
      p {
        text-align: center;
        padding-right: 10px;
      }
    }

    .col-socialicons{
      text-align: left;

    }

  }


}


//newsletter icon hide on small devices
@media only screen and (max-width: 1224px) {
  .newsletter-image {
    display: none;
  }


  @media only screen and (max-width: 576px) {


    #newsletter {

      .col-newsletter-title {
        h3 {
          font-size: 1.25rem;
          padding-bottom: 15px;
        }
      }

    }

    .footer-top .col-footer-links ul {
      padding-left: 20px;
    }

    .footer-top .col-footer-links h6 {
      padding-left: 20px;
    }
  }



  .footer-bottom .footer-social-icons {
    a {

      font-size: 15px;

    }
    .list-inline-item:not(:last-child) {
      margin-right: .2rem;
    }

  }

  .footer-bottom p a {
    font-size: 12px;
  }




}